# .gitignore

### Pasta do Visual Studio ###
.vs/
*.suo
*.user
*.sln.docstates

### Pasta do .NET ###
obj/
bin/

### Arquivos gerados pelo sistema ###
*.DS_Store
Thumbs.db

### Logs ###
logs/
*.log

### Dependências do Node ###
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env*.local