* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 0.875rem;
  color: var(--p-text-color);
  /* background-color: var(--p-surface-50); */
  font-family: 'Inter', 'Roboto', sans-serif;
}

.p-dark body {
  background-color: initial;
}

a {
  text-decoration: none;
}

.material-symbols-outlined {
  font-size: 1.4rem;
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz';
}

.p-tab {
  font-family: 'Inter', 'Roboto', sans-serif;
}

.p-datatable-tbody > tr > td {
  text-align: center !important;
}

.p-datatable-column-header-content {
  justify-content: center !important;
}
