* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Inter', 'Roboto', sans-serif;
  color: var(--p-text-color);
  background-color: var(--p-surface-50);
}

.p-dark body {
  background-color: initial;
}

a {
  text-decoration: none;
}

.material-symbols-outlined {
    font-size: 1.4rem;
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz';
}